{% extends 'main.html' %}

{% block body%}

{% if message %}
<h2> {{ message}} </h2>
{% endif %}
<form action="" method="post">
    {% csrf_token %}
    <label for="username">username</label>
    <input type="text" id="username" name="username">
    <br>
    <br>
    <label for="password">password</label>
    <input type="password" id="password" name="password">
    <input type="submit" value="Login">
</form>
<h3>Not have a account ? <a href="{% url 'accounts:register' %}">Register</a></h3>
{% endblock %}